@soil-red: #FF4949;
@soil-red-light: tint(@soil-red, 10%);
@soil-red-dark: shade(@soil-red, 10%);

@soil-green: #13CE66;
@soil-green-light: tint(@soil-green, 10%);
@soil-green-dark: shade(@soil-green, 10%);

@soil-blue: #20A0FF;
@soil-blue-light: tint(@soil-blue, 10%);
@soil-blue-dark: shade(@soil-blue, 10%);

@soil-yellow: #F7BA2A;
@soil-yellow-light: tint(@soil-yellow, 10%);
@soil-yellow-dark: shade(@soil-yellow, 10%);

@soil-black: #1F2D3D;
@soil-black-light: #324057;

@soil-white: #FFFFFF;
@soil-white-dark: #F9FAFC;

@soil-gray: #D3DCE6;
@soil-gray-light: #EFF2F7;