// red
@soil-red: #FF4949;
@soil-red-light: #FF6D6D;
@soil-red-dark: #CC3A3A;
// green
@soil-green: #13CE66;
@soil-green-light: #42D885;
@soil-green-dark: #0FA552;
// blue
@soil-blue: #15A0FF;
@soil-blue-light: #44B3FF;
@soil-blue-dark: #1180CC;
// yellow
@soil-yellow: #F7BA2A;
@soil-yellow-light: #F9C855;
@soil-yellow-dark: #C69522;

@soil-gray: #CCCCCC;
@soil-gray-light: #F2F2F2;
@soil-gray-dark: shade(@soil-gray, 25%);

// gray
@soil-gray-1: #F2F2F2;
@soil-gray-2: #E6E6E6;
@soil-gray-3: #D9D9D9;
@soil-gray-4: #CCCCCC;
@soil-gray-5: #BFBFBF;
@soil-gray-6: #B3B3B3;
@soil-gray-7: #999999;
@soil-gray-8: #808080;
@soil-gray-9: #666666;
@soil-gray-10: #4D4D4D;
// black
@soil-black: #1F2D3D;
@soil-black-light: #324057;


* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}


@font-face {
  font-family: 'fontello';
  src: url('font-icon/fontello.eot?38651883');
  src: url('font-icon/fontello.eot?38651883#iefix') format('embedded-opentype'),
       url('font-icon/fontello.woff2?38651883') format('woff2'),
       url('font-icon/fontello.woff?38651883') format('woff'),
       url('font-icon/fontello.ttf?38651883') format('truetype'),
       url('font-icon/fontello.svg?38651883#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-soil-star-solid:before { content: '\e800' }
.icon-soil-star-ghost:before { content: '\e803' }
.icon-soil-message:before { content: '\e804' }
.icon-soil-search:before { content: '\e805' }
.icon-soil-no:before { content: '\e806' }
.icon-soil-favorite-solid:before { content: '\e807' }
.icon-soil-favorite-ghost:before { content: '\e808' }
.icon-soil-bookmark-solid:before { content: '\e80a' }
.icon-soil-arrow-down:before { content: '\e80b' }
.icon-soil-arrow-left:before { content: '\e80c' }
.icon-soil-arrow-right:before { content: '\e80d' }
.icon-soil-arrow-up:before { content: '\e80e' }
.icon-soil-dot3:before { content: '\e80f' }
.icon-soil-share:before { content: '\e810' }
.icon-soil-setting:before { content: '\e811' }
.icon-soil-yes:before { content: '\e812' }
.icon-soil-loading:before { content: '\e839' }
.icon-soil-people:before { content: '\f061' }
.icon-soil-bookmark-ghost:before { content: '\f097' }
.icon-soil-apple:before { content: '\f179' }
.icon-soil-android:before { content: '\f17b' }
.icon-soil-circle:before { content: '\f1db' }
.icon-soil-at:before { content: '\f1fa' }
.icon-soil-female:before { content: '\f221' }
.icon-soil-male:before { content: '\f222' }